body {
    font: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, rgb(66, 204, 130), rgb(230, 224, 119));
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.align-wrapper {
    display: grid;
    column-gap: 35px;
    justify-content: center;
}

.color-picker{
    grid-template-columns: 50px 50px 100px;
}

.bg-color{
    grid-template-columns: 500px 65px;
}


.btn {
    font-family:'Courier New', Courier, monospace , sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    height: 27px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3.5px 3px;
    position: relative; 
    text-align: center;
    cursor: pointer;
}

.btn-copy {
    right: 30px;
    bottom: -10px;
}

.btn-copied {
    width: 80px;
    right: 30px;
    bottom: -10px;
}